@import '../../theme/default.scss';

.todo-list {
  display: flex;
  flex-direction: column;
  background-color: rgba($background-color, 0.5);
  height: 100%;
  box-shadow: 0 4px 25px 0 rgba($black, 0.1);

  .list-header {
    display: flex;
    flex: 0 0 auto;

    span {
      display: block;
      margin-right: auto;
    }

    select {
      display: block;
      margin-left: auto;
      margin-right: 4px;
    }
  }

  .list-body {
    flex: 1 1 auto;
    overflow-y: auto;

    .drag-wrapper {
      padding: 8px 4px;

      &.dragging {
        opacity: 0.5;
      }
    }
  }

  .list-header, .list-body {
    padding: 8px;
    box-shadow: 0 10px 15px -10px rgba($black, 0.05);
  }

  .add-todo {
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    padding: 8px;

    svg {
      margin-right: 8px;
    }

    span {
      opacity: 0.4;
      display: block;
      margin: 8px auto;
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}