@import '../../theme/default.scss';

.app {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 8px;
}

.list-wrapper {
  max-width: 500px;
  flex: 1 1 500px;
  flex-direction: column;
}