@import '../../theme/default.scss';

.todo {
  background-color: $white;
  box-shadow: 0 4px 25px 0 rgba($black, 0.1);
  border-radius: 4px;
  overflow: hidden;

  &.completed {
    background: repeating-linear-gradient(
      45deg,
      rgba($black, 0.1),
      rgba($black, 0.1) 10px,
      rgba($black, 0.2) 10px,
      rgba($black, 0.2) 20px
    );
  }

  .header {
    display: flex;
    padding: 4px 12px;
    border-bottom: 1px solid rgba($black, 0.1);

    .button-group {
      margin-left: auto;

      svg {
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 5px;
        }
      }
    }
  }

  .body {
    textarea {
      width: 100%;
      max-width: 100%;
      min-height: 60px;
      background-color: transparent;
      margin: 0;
      border: none;
    }
  }
}